<h1>¿Cómo se juega al Quiz?</h1>

<p>Red social para crear adivinanzas que permite que múltiples usuarios compartan las suyas.</p>
<p>Este proyecto educativo se ha creado para mostrar la arquitectura de una aplicación Web del lado servidor, las metodologías de desarrollo y los elementos más importantes de un portal Web</p>

